<div class="newWrapper">
    <h2>Please help us learn more about you.</h2>
    <h6>This is all optional information but will help us get a better idea of who you are.</h6>
    <div class="slider">
    <div class="pure-form pure-form-aligned" id="profile_questions">
    	<%= form_for Profile.new do |f| %>
            <fieldset>
    		<div class="pure-control-group">
            <%= f.label :current_city, "Current City:" %>
        	<%= f.text_field :zip_code, autofocus: true, placeholder: ' zip code', :class => "textfield" %> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :annual_income_range, "Annual Income Range:" %>
        	<%= f.select :income,[["$0-$20,000"],["$20,000-$40,000"],["$40,000-$80,000"],["$80,000-$150,000"],["$150,000+"]], autofocus: true%> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :relationship_status, "Relationship Status:" %>
        	<%= f.select :relationship, [["Single"],["Dating"],["Married"],["Divorced"],["Widowed"]], autofocus: true%> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :education_level, "Education Level:" %>
        	<%= f.select :education, [["High School"],["Bachelors"],["Graduate"],["PhD"],["Non-Graduate"]], autofocus: true %> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :political_affiliation, "Political Affiliation:" %>
        	<%= f.select :political, [["Very Liberal"],["Somewhat Liberal"],["Centrist"],["Somewhat Conservative"],["Very Conservative"], ["None of the above"]], autofocus: true %> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :ethnicity,"Ethnicity:" %>
        	<%= f.select :ethnicity,[["Black"],["White"],["Hispanic"],["Asian"],["Native American"],["Indian"],["Middle Eastern"],["Pacific Islander"]], autofocus:true %> <br>
            </div>
            <div class="pure-control-group">
        	<%= f.label :religion, "Religion:" %>
        	<%= f.select :religion,[["Christian"],["Jewish"],["Muslim"],["Hindu"],["Buddhist"],["Other"],["Non-affiliated"]], autofocus:true %> <br>
            </div>
            <div class="pure-control-group">
            <%= f.submit "Create Profile" %>
            </div>
            </fieldset>
        <% end %>
    </div>
<<<<<<< Updated upstream

=======
</div>
>>>>>>> Stashed changes

