<div class="profile_title">
<h2>Please help us learn a little more about you.</h2>
<h5>This is all optional information but will help us get a better idea of who you are.</h5>
</div>

<div class="pure-form pure-form-aligned" class="profile_questions">
	<%= form_for Profile.new do |f| %>
        <fieldset>
        <div class="profile_questions_content">
		<div class="pure-control-group">
        <%= f.label "Current City" %>:
    	<%= f.text_field :zip_code, autofocus: true, placeholder: 'zip code' %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Annual Income Range" %>:
    	<%= f.select :income,[["$0-$20,000"],["$20,000-$40,000"],["$40,000-$80,000"],["$80,000-$150,000"],["$150,000+"]], autofocus: true %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Relationship Status" %>:
    	<%= f.select :relationship, [["Single"],["Dating"],["Married"],["Divorced"],["Widowed"]], autofocus: true %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Education Level" %>:
    	<%= f.select :education, [["High School"],["Bachelors"],["Graduate"],["PhD"],["Non-Graduate"]], autofocus: true %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Political Affiliation" %>:
    	<%= f.select :political, [["Far Left"],["Left Center"],["Centrist"],["Right Center"],["Far Right"]], autofocus: true %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Ethnicity" %>:
    	<%= f.select :ethnicity,[["Black"],["White"],["Hispanic"],["Asian"],["Native American"],["Indian"],["Middle Eastern"],["Pacific Islander"]], autofocus:true %> <br>
        </div>
        <div class="pure-control-group">
    	<%= f.label "Religion" %>:
    	<%= f.select :religion,[["Christian"],["Jewish"],["Islam"],["Hindu"],["Buddhist"],["Other"],["Non-affiliated"]], autofocus:true %> <br>
        </div>
        </div>
        <div class="submit_button_profile">
        <%= f.submit "Create Profile" %>
        </div>

        </fieldset>
    <% end %>
</div>








