<div id="newUserForm">
  <h2 id="newUserTitle">Sign up</h2>
  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "First Name" %>:   
    <%= f.text_field :firstname, autofocus: true, autocomplete: "off" %>
    <br>
    <%= f.label "Last Name" %>:
    <%= f.text_field :lastname, autofocus: true, autocomplete: "off" %>
    <br>
    <%= f.label "Email" %>:
    <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
    <br>
    <%= f.label "Gender" %>:
    <%= f.text_field :gender, autofocus: true, autocomplete: "off" %>
    <br>
    <%= f.label "Date of birth" %>:
    <%= f.text_field :dob, autofocus: true, autocomplete: "off" %>
    <br>
    <%= f.label "Password" %>: 
    <% password_options =  @minimum_password_length ? {:placeholder => "#{@minimum_password_length} characters minimum" } : {} %>
    <%= f.password_field :password, password_options.merge(autocomplete: "off")  %>
    
    <br>
    <%= f.label "Password Confirmation" %>:
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <br>
    <br>
  </div>
    <div class="actions">
     <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <br>
  <div id="alreadyMember">
    <h5> Already a member? Sign in.</h5>
    <%= render "devise/shared/links" %>
  </div>
  <br>
</div>

