<div class="newWrapper">
<br>
<br>
    <div class="profile_title">
         <h2>What are some indulgences that you partake in on a daily/weekly basis?</h2>
    </div>
    <div class="pure-form pure-form-aligned" id="indulgence_form">
    <fieldset>
    	<%= form_for Custom.new do |f| %>
        <div class="profile_questions_content">
        <div class="pure-control-group">
    	<%= f.label :indulgence_1, "Indulgence 1:" %>
        <%= f.text_field :indulgence_1, autofocus: true, placeholder: 'ex: sweets', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :indulgence_2, "Indulgence 2:" %>
        <%= f.text_field :indulgence_2, autofocus: true, placeholder: 'ex: alcohol', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :indulgence_3, "Indulgence 3:" %>
        <%= f.text_field :indulgence_3, autofocus: true, placeholder: 'ex: big meal', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :indulgence_4, "Indulgence 4:" %>
        <%= f.text_field :indulgence_4, autofocus: true, placeholder: 'ex: drugs', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :indulgence_5, "Indulgence 5:" %>
        <%= f.text_field :indulgence_5, autofocus: true, placeholder: 'ex: video games', autocomplete: "off" %> <br>
        </div>
        </div>
    </fieldset>
    </div>
    <div class="profile_title">
        <h2>What are some of your daily/weekly responsibilities?</h2>
    </div>
    <div class="pure-form pure-form-aligned" id="responsibility_form">
    <fieldset>
        <div class="profile_questions_content">
        <div class="pure-control-group">
    	<%= f.label :responsibility_1, "Responsibility 1:" %>
        <%= f.text_field :responsibility_1, autofocus: true, placeholder: 'ex: work', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :responsibility_2, "Responsibility 2:" %>
        <%= f.text_field :responsibility_2, autofocus: true, placeholder: 'ex: commuting', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :responsibility_3, "Responsibility 3:" %>
        <%= f.text_field :responsibility_3, autofocus: true, placeholder: 'ex: cleaning', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :responsibility_4, "Responsibility 4:" %>
        <%= f.text_field :responsibility_4, autofocus: true, placeholder: 'ex: laundry', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :responsibility_5, "Responsibility 5:" %>
        <%= f.text_field :responsibility_5, autofocus: true, placeholder: 'ex: walk the dog', autocomplete: "off" %> <br>
        </div>
        </div>
    </fieldset>
    </div>
    <div class="profile_title">
        <h2>What are some of your daily/weekly activities?</h2>
    </div>
    <div class="pure-form pure-form-aligned" id="activity_form">

    <fieldset>
        <div class="profile_questions_content">
        <div class="pure-control-group">
    	<%= f.label :activity_1, "Activity 1:" %>
        <%= f.text_field :activity_1, autofocus: true, placeholder: 'ex: sports', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :activity_2, "Activity 2:" %>
        <%= f.text_field :activity_2, autofocus: true, placeholder: 'ex: exercise', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :activity_3, "Activity 3:" %>
        <%= f.text_field :activity_3, autofocus: true, placeholder: 'ex: hiking', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :activity_4, "Activity 4:" %>
        <%= f.text_field :activity_4, autofocus: true, placeholder: 'ex: reading', autocomplete: "off" %> <br>
        </div>
        <div class="pure-control-group">
        <%= f.label :activity_5, "Activity 5:" %>
        <%= f.text_field :activity_5, autofocus: true, placeholder: 'ex: going for a walk', autocomplete: "off" %> <br>
        </div>
        </div>
    </fieldset>
    </div>
        <div class="submit_button_profile">
    	<%= f.submit "Submit" %>
        </div>
    	<% end %>
    <br>
    <br>
</div>
