<<<<<<< HEAD
<body>
<ul  id="post_nav_bar" id="post_nav_bar">
	<li><a href="#" class="scroll-link" data-id="profile_info">Profile Info</a></li>
	<li><a href="#" class="scroll-link" data-id="last_post">Last Post</a></li>
 	<li><a href="#" class="scroll-link" data-id="graph">Mood Data</a></li>
  <li><a href="#" class="scroll-link" data-id="post_history">Post History</a></li>
</ul>


<div id="profile_info" class="page-section">
  <div class="col-lg-6">
      First Name: <%= @user.firstname %> <br>
      Last Name: <%= @user.lastname %> <br>
      Date of birth: <%= @user.dob %> <br>
      Gender: <%= @user.gender %> <br>
  </div>
  <div class="col-lg-6">
      Zip Code: <%= @profile.zip_code %>
      Income: <%= @profile.income %>
      Relationship Status <%= @profile.education %>
      Political Affiliation <%= @profile.political %>
      Ethnicity <%= @profile.ethnicity %>
      Religion <%= @profile.religion %>
  </div>
</div>

</br>
</br>
<div id="last_post" class="page-section">
	<p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div id="graph" class="page-section">
	<p> 
    <svg width="660" height="300"></svg> 
  </p>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div id="post_history" class="page-section">
	<p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
</div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</body>


<script>

var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%d-%b-%y");

var x = d3.scaleTime()
    .rangeRound([0, width]);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

var line = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.rating); });

d3.tsv("/graph1.tsv", function(d) {
  d.date = parseTime(d.date);
  d.rating = +d.rating;
  return d;
}, function(error, data) {
  if (error) throw error;

  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain(d3.extent(data, function(d) { return d.rating; }));

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .style("text-anchor", "end")
      .text("Mood-O-Meter");

  g.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
});

</script>

