

<%= form_for @post do |f| %>
	<div class="customizeForm" class="pure-form pure-form-aligned">
	<h2> Make your mood your own - customize your experience</h2>
	<h4> Customize your daily indulgences: </h4>
		<br>
		<%= f.label @custom.indulgence_1 %>:
		<br>
		<%= f.text_field :indulgence_1 %>
		<br>
		<%= f.label @custom.indulgence_2 %>:
		<br>
		<%= f.text_field :indulgence_2 %>
		<br>
		<%= f.label @custom.indulgence_3 %>:
		<br>
		<%= f.text_field :indulgence_3 %>
		<br>
		<%= f.label @custom.indulgence_4 %>:
		<br>
		<%= f.text_field :indulgence_4 %>
		<br>
		<%= f.label @custom.indulgence_5 %>:
		<br>
		<%= f.text_field :indulgence_5 %>
		<br>
		<br>
		<br>
	<h4> Customize your daily responsibilities: </h4>
		<br>
		<%= f.label @custom.responsibility_1 %>:
		<br>
		<%= f.text_field :responsibility_1 %>
		<br>
		<%= f.label @custom.responsibility_2 %>:
		<br>
		<%= f.text_field :responsibility_2 %>
		<br>
		<%= f.label @custom.responsibility_3 %>:
		<br>
		<%= f.text_field :responsibility_3 %>
		<br>
		<%= f.label @custom.responsibility_4 %>:
		<br>
		<%= f.text_field :responsibility_4 %>
		<br>
		<%= f.label @custom.responsibility_5 %>:
		<br>
		<%= f.text_field :responsibility_5 %>
		<br>
		<br>
		<br>
	<h4> Customize your daily activities: </h4>
		<br>
		<%= f.label @custom.activity_1 %>:
		<br>
		<%= f.text_field :activity_1 %>
		<br>
		<%= f.label @custom.activity_2 %>:
		<br>
		<%= f.text_field :activity_2 %>
		<br>
		<%= f.label @custom.activity_3 %>:
		<br>
		<%= f.text_field :activity_3 %>
		<br>
		<%= f.label @custom.activity_4 %>:
		<br>
		<%= f.text_field :activity_4 %>
		<br>
		<%= f.label @custom.activity_5 %>:
		<br>
		<%= f.text_field :activity_5 %>
		<br>

	<h2> Make a new entry </h2>


<%= form_for @post do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<div class="customizeForm" class="pure-form pure-form-aligned">
		<p>
			<h4> Required fields </h4>
				<%= f.label :sleep, "Sleep:" %>
				<%= f.check_box :sleep %>

				<%= f.label :water, "Water:" %>
				<%= f.check_box :water  %>

				<%= f.label :breakfast, "Breakfast" %>
				<%= f.check_box :breakfast  %>

				<%= f.label :lunch, "Lunch:" %>
				<%= f.check_box :lunch  %>

				<%= f.label :dinner, "Dinner:" %>
				<%= f.check_box :dinner  %>

				<%= f.label :tv, "TV:" %>
				<%= f.check_box :tv  %>

				<%= f.label :social_media, "Social Media:" %>
				<%= f.check_box :social_media  %>

				<%= f.label :socialization, "Socialization:" %>
				<%= f.check_box :socialization  %>

				<%= f.label :work, "Work:" %>
				<%= f.check_box :work  %>
				
				<br><br>
		</p>

		<h4> Your Daily Indulgences: </h4>
		<p>
			<% if @custom.indulgence_1 != nil %>
				<%= f.label @custom.indulgence_1 %>:
				<%= f.check_box :indulgence_1  %>
			<% end %>
			
			<% if @custom.indulgence_2 != nil %>
				<%= f.label @custom.indulgence_2 %>:
				<%= f.check_box :indulgence_2  %>
			<% end %>
			
			<% if @custom.indulgence_3 != nil %>
				<%= f.label @custom.indulgence_3 %>:
				<%= f.check_box :indulgence_3  %>
			<% end %>
			
			<% if @custom.indulgence_4 != nil %>
				<%= f.label @custom.indulgence_4 %>: 
				<%= f.check_box :indulgence_4  %>
			<% end %>
			
			<% if @custom.indulgence_5 != nil %>
				<%= f.label @custom.indulgence_5 %>:
				<%= f.check_box :indulgence_5  %>
			<% end %>
			<br><br>
		</p>
		<h4> Daily Responsibilities: </h4>
			<p>
			<% if @custom.responsibility_1 != nil %>
				<%= f.label @custom.responsibility_1 %>:
				<%= f.check_box :responsibility_1  %>
			<% end %>
			
			<% if @custom.responsibility_2 != nil %>
				<%= f.label @custom.responsibility_2 %>:
				<%= f.check_box :responsibility_2  %>
			<% end %>
			
			<% if @custom.responsibility_3 != nil %>
				<%= f.label @custom.responsibility_3 %>:
				<%= f.check_box :responsibility_3  %>
			<% end %>
			
			<% if @custom.responsibility_4 != nil %>
				<%= f.label @custom.responsibility_4 %>:
				<%= f.check_box :responsibility_4  %>
			<% end %>
			
			<% if @custom.responsibility_5 != nil %>
				<%= f.label @custom.responsibility_5 %>:
				<%= f.check_box :responsibility_5  %>
			<% end %>
			<br><br>
			</p>
		<h4> Daily Activities: </h4>
			<p>
			<% if @custom.activity_1 != nil %>
				<%= f.label @custom.activity_1 %>:
				<%= f.check_box :activity_1  %>
			<% end %>
			
			<% if @custom.activity_2 != nil %>
				<%= f.label @custom.activity_2 %>:
				<%= f.check_box :activity_2  %>
			<% end %>
			
			<% if @custom.activity_3 != nil %>
				<%= f.label @custom.activity_3 %>:
				<%= f.check_box :activity_3  %>
			<% end %>
			
			<% if @custom.activity_4 != nil %>
				<%= f.label @custom.activity_4 %>:
				<%= f.check_box :activity_4  %>
			<% end %>
			
			<% if @custom.activity_5 != nil %>
				<%= f.label @custom.activity_5 %>:
				<%= f.check_box :activity_5  %>
			<% end %>
			<br><br>
			</p>


	<h4>Create Entry</h4>
		<p>
			<%= f.label :content %>:
			<%= f.text_area :content  %>
		</p>
		<br>
		<p>
			<%= f.label :rating %>:
			<%= f.text_field :rating  %>
		</p>
		<br>
		<%= f.submit "Customize My Data" %>
	</div>

		<h4>Please write a few sentences about anything that contributed to your current mood.</h4>
			<p>
				<%= f.label :content %>:
				<%= f.text_area :content  %>
			</p>
			<br>
		<h4> Please select a number between 1 and 10, where 1 represents absolutely no happiness, 5 represents indifference and 10 represents complete happiness, to reflect your current mood.</h4>
			<p>
				<%= f.label :rating %>:
				<%= f.text_field :rating  %>
			</p>
			<br>
			<%= f.submit "Customize My Data" %>
		</div>	

<% end %>
