<p>Constants</p>
<ul>
    <li>Sleep: <%= @post.sleep %></li>
    <li>Water: <%= @post.water %></li>
    <li>Breakfast: <%= @post.breakfast %></li>
    <li>Lunch: <%= @post.lunch %></li>
    <li>Dinner: <%= @post.dinner %></li>
    <li>Television: <%= @post.tv %></li>
    <li>Soical Media: <%= @post.social_media %></li>
    <li>Socialization: <%= @post.socialization %></li>
    <li>Work: <%= @post.work %></li>
</ul>

<p>Indulgences</p>
<ul>
    <li> <%= @custom.indulgence_1 %>: <%=  @post.indulgence_1 %> </li>
    <li> <%= @custom.indulgence_2 %>: <%=  @post.indulgence_2 %> </li>
    <li> <%= @custom.indulgence_3 %>: <%=  @post.indulgence_3 %> </li>
    <li> <%= @custom.indulgence_4 %>: <%=  @post.indulgence_4 %> </li>
    <li> <%= @custom.indulgence_5 %>: <%=  @post.indulgence_5 %> </li>
</ul>

<p>Responsibilities</p>
<ul>
    <li> <%= @custom.responsibility_1 %>: <%=  @post.responsibility_1 %> </li>
    <li> <%= @custom.responsibility_2 %>: <%=  @post.responsibility_2 %> </li>
    <li> <%= @custom.responsibility_3 %>: <%=  @post.responsibility_3 %> </li>
    <li> <%= @custom.responsibility_4 %>: <%=  @post.responsibility_4 %> </li>
    <li> <%= @custom.responsibility_5 %>: <%=  @post.responsibility_5 %> </li>
</ul>

<p>Daily Activities</p>
<ul>
    <li> <%= @custom.activity_1 %>: <%=  @post.activity_1 %> </li>
    <li> <%= @custom.activity_2 %>: <%=  @post.activity_2 %> </li>
    <li> <%= @custom.activity_3 %>: <%=  @post.activity_3 %> </li>
    <li> <%= @custom.activity_4 %>: <%=  @post.activity_4 %> </li>
    <li> <%= @custom.activity_5 %>: <%=  @post.activity_5 %> </li>
</ul>

<p><%= @post.content %></p>
<p><%= @post.rating %></p>