<!DOCTYPE html>
<html>
  <head>
    <title>Mood-O-Meter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<% if user_signed_in? %>
		<span>Welcome, <%= current_user.firstname %> !</span> 
		<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
	<% else %>
		
	<% end %>


    <%= yield %>
  </body>
</html>
